backend/webhooks/make_scenarios/SAAP Update Project Blueprint.json
{
  "name": "SAAP - Update Project",
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "parameters": {
        "hook": 1003444,
        "maxResults": 1
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": -119,
          "y": 0
        },
        "restore": {
          "parameters": {
            "hook": {
              "data": {
                "editable": "true"
              },
              "label": "SAAP - Update Project"
            }
          }
        },
        "parameters": [
          {
            "name": "hook",
            "type": "hook:gateway-webhook",
            "label": "Webhook",
            "required": true
          },
          {
            "name": "maxResults",
            "type": "number",
            "label": "Maximum number of results"
          }
        ],
        "interface": [
          {
            "name": "name",
            "type": "text"
          },
          {
            "name": "stage",
            "type": "text"
          },
          {
            "name": "starting-date",
            "type": "text"
          },
          {
            "name": "memberid",
            "type": "text"
          },
          {
            "name": "cmsid",
            "type": "text"
          },
          {
            "name": "clientname",
            "type": "text"
          },
          {
            "name": "deadline-date",
            "type": "text"
          },
          {
            "name": "assignees",
            "type": "text"
          }
        ]
      }
    },
    {
      "id": 6,
      "module": "builtin:BasicRouter",
      "version": 1,
      "filter": {
        "name": "must have ",
        "conditions": [
          [
            {
              "a": "{{1.projectname}}",
              "o": "exist"
            }
          ]
        ]
      },
      "mapper": null,
      "metadata": {
        "designer": {
          "x": 186,
          "y": 5
        }
      },
      "routes": [
        {
          "flow": [
            {
              "id": 5,
              "module": "webflow:updateItem",
              "version": 2,
              "parameters": {
                "__IMTCONN__": 1882634
              },
              "filter": {
                "name": "must have",
                "conditions": [
                  [
                    {
                      "a": "{{1.projectname}}",
                      "o": "exist"
                    },
                    {
                      "a": "{{1.stage}}",
                      "b": "Delete",
                      "o": "text:notequal"
                    }
                  ]
                ]
              },
              "mapper": {
                "fields": {
                  "name": "{{1.projectname}}",
                  "status": "{{1.stage}}",
                  "assignee": "{{1.assignees}}",
                  "deadline-date": "{{1.`deadline-date`}}",
                  "starting-date": "{{1.`starting-date`}}"
                },
                "select": "list",
                "item_id": "{{1.cmsid}}",
                "site_id": "656604b87d3f1c1d75e4c392",
                "collection_id": "656df9866efdc7c99b1e65ce"
              },
              "metadata": {
                "designer": {
                  "x": 496,
                  "y": -11
                },
                "restore": {
                  "expect": {
                    "fields": {
                      "nested": {
                        "assignee": {
                          "mode": "edit"
                        },
                        "service-offering": {
                          "mode": "chose"
                        },
                        "created-by-member": {
                          "mode": "chose"
                        }
                      }
                    },
                    "select": {
                      "label": "Select from the list"
                    },
                    "isDraft": {
                      "mode": "chose"
                    },
                    "item_id": {
                      "mode": "edit"
                    },
                    "site_id": {
                      "label": "Productized Service Template"
                    },
                    "isArchived": {
                      "mode": "chose"
                    },
                    "collection_id": {
                      "label": "Projects"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "webflow2"
                      },
                      "label": "Productized Service Template (julian@memberstack.com)"
                    }
                  }
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:webflow2",
                    "label": "Connection",
                    "required": true
                  }
                ],
                "expect": [
                  {
                    "name": "select",
                    "type": "select",
                    "label": "Choose Method",
                    "required": true,
                    "validate": {
                      "enum": ["map", "list"]
                    }
                  },
                  {
                    "name": "isArchived",
                    "type": "boolean",
                    "label": "Is Archived"
                  },
                  {
                    "name": "isDraft",
                    "type": "boolean",
                    "label": "Is Draft"
                  },
                  {
                    "name": "site_id",
                    "type": "select",
                    "label": "Site",
                    "required": true
                  },
                  {
                    "name": "collection_id",
                    "type": "select",
                    "label": "Collection",
                    "required": true
                  },
                  {
                    "name": "item_id",
                    "type": "select",
                    "label": "Item",
                    "required": true
                  },
                  {
                    "name": "fields",
                    "spec": [
                      {
                        "name": "name",
                        "type": "text",
                        "label": "Name",
                        "required": true,
                        "validate": {
                          "max": 256
                        }
                      },
                      {
                        "name": "webflow-unique-id",
                        "type": "text",
                        "label": "CMS ID"
                      },
                      {
                        "name": "starting-date",
                        "time": false,
                        "type": "date",
                        "label": "Starting Date"
                      },
                      {
                        "name": "deadline-date",
                        "time": false,
                        "type": "date",
                        "label": "Deadline Date"
                      },
                      {
                        "name": "project-number-2",
                        "type": "number",
                        "label": "Project Number"
                      },
                      {
                        "name": "status",
                        "type": "text",
                        "label": "Status"
                      },
                      {
                        "name": "assignee",
                        "type": "select",
                        "label": "Assignee"
                      },
                      {
                        "name": "service-offering",
                        "type": "select",
                        "label": "Service offering"
                      },
                      {
                        "name": "project-brief",
                        "type": "text",
                        "label": "Project Brief"
                      },
                      {
                        "name": "created-by-member",
                        "type": "select",
                        "label": "Client"
                      },
                      {
                        "name": "slug",
                        "type": "text",
                        "label": "Slug",
                        "validate": {
                          "max": 256
                        }
                      }
                    ],
                    "type": "collection",
                    "label": "Fields"
                  }
                ],
                "interface": [
                  {
                    "name": "id",
                    "type": "text",
                    "label": "Item ID"
                  },
                  {
                    "name": "lastPublished",
                    "type": "text",
                    "label": "Last Published"
                  },
                  {
                    "name": "lastUpdated",
                    "type": "date",
                    "label": "Last Updated"
                  },
                  {
                    "name": "createdOn",
                    "type": "date",
                    "label": "Created on"
                  },
                  {
                    "name": "isArchived",
                    "type": "boolean",
                    "label": "Is Archived"
                  },
                  {
                    "name": "isDraft",
                    "type": "boolean",
                    "label": "Is Draft"
                  },
                  {
                    "name": "fieldData",
                    "spec": [
                      {
                        "name": "name",
                        "type": "text",
                        "label": "Name",
                        "required": true,
                        "validate": {
                          "max": 256
                        }
                      },
                      {
                        "name": "webflow-unique-id",
                        "type": "text",
                        "label": "CMS ID",
                        "required": false
                      },
                      {
                        "name": "starting-date",
                        "time": false,
                        "type": "date",
                        "label": "Starting Date",
                        "required": false
                      },
                      {
                        "name": "deadline-date",
                        "time": false,
                        "type": "date",
                        "label": "Deadline Date",
                        "required": false
                      },
                      {
                        "name": "project-number-2",
                        "type": "number",
                        "label": "Project Number",
                        "required": false
                      },
                      {
                        "name": "status",
                        "type": "text",
                        "label": "Status",
                        "required": false
                      },
                      {
                        "name": "assignee",
                        "type": "text",
                        "label": "Assignee",
                        "required": false
                      },
                      {
                        "name": "service-offering",
                        "type": "text",
                        "label": "Service offering",
                        "required": false
                      },
                      {
                        "name": "project-brief",
                        "type": "text",
                        "label": "Project Brief",
                        "required": false,
                        "multiline": true
                      },
                      {
                        "name": "created-by-member",
                        "type": "text",
                        "label": "Client",
                        "required": false
                      },
                      {
                        "help": "Must be alphanumerical and not contain any spaces or special characters",
                        "name": "slug",
                        "type": "text",
                        "label": "Slug",
                        "required": false,
                        "validate": {
                          "max": 256
                        }
                      }
                    ],
                    "type": "collection",
                    "label": "Field Data"
                  }
                ]
              }
            },
            {
              "id": 3,
              "module": "webflow:publishAnItem",
              "version": 2,
              "parameters": {
                "__IMTCONN__": 1882634
              },
              "filter": {
                "name": "must have",
                "conditions": [
                  [
                    {
                      "a": "{{5.id}}",
                      "o": "exist"
                    }
                  ]
                ]
              },
              "mapper": {
                "itemIds": "{{5.id}}",
                "site_id": "656604b87d3f1c1d75e4c392",
                "collection_id": "656df9866efdc7c99b1e65ce"
              },
              "metadata": {
                "designer": {
                  "x": 900,
                  "y": 0
                },
                "restore": {
                  "expect": {
                    "itemIds": {
                      "mode": "edit"
                    },
                    "site_id": {
                      "mode": "chose",
                      "label": "Productized Service Template"
                    },
                    "collection_id": {
                      "mode": "chose",
                      "label": "Projects"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "webflow2"
                      },
                      "label": "Productized Service Template (julian@memberstack.com)"
                    }
                  }
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:webflow2",
                    "label": "Connection",
                    "required": true
                  }
                ],
                "expect": [
                  {
                    "name": "site_id",
                    "type": "select",
                    "label": "Site",
                    "required": true
                  },
                  {
                    "name": "collection_id",
                    "type": "select",
                    "label": "Collection",
                    "required": true
                  },
                  {
                    "name": "itemIds",
                    "type": "select",
                    "label": "Item IDs",
                    "multiple": true,
                    "required": true
                  }
                ]
              }
            },
            {
              "id": 4,
              "module": "gateway:WebhookRespond",
              "version": 1,
              "parameters": {},
              "mapper": {
                "body": "",
                "status": "302",
                "headers": [
                  {
                    "key": "Location",
                    "value": "https://productized-service-template.webflow.io/gated/projects/{{5.fieldData.slug}}"
                  }
                ]
              },
              "metadata": {
                "designer": {
                  "x": 1200,
                  "y": 0
                },
                "restore": {
                  "expect": {
                    "headers": {
                      "mode": "chose",
                      "items": [null]
                    }
                  }
                },
                "expect": [
                  {
                    "name": "status",
                    "type": "uinteger",
                    "label": "Status",
                    "required": true,
                    "validate": {
                      "min": 100
                    }
                  },
                  {
                    "name": "body",
                    "type": "any",
                    "label": "Body"
                  },
                  {
                    "name": "headers",
                    "spec": [
                      {
                        "name": "key",
                        "type": "text",
                        "label": "Key",
                        "required": true,
                        "validate": {
                          "max": 256
                        }
                      },
                      {
                        "name": "value",
                        "type": "text",
                        "label": "Value",
                        "required": true,
                        "validate": {
                          "max": 4096
                        }
                      }
                    ],
                    "type": "array",
                    "label": "Custom headers",
                    "validate": {
                      "maxItems": 16
                    }
                  }
                ],
                "advanced": true
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 7,
              "module": "webflow:deleteItem",
              "version": 2,
              "parameters": {
                "__IMTCONN__": 1882634
              },
              "filter": {
                "name": "Is Delete",
                "conditions": [
                  [
                    {
                      "a": "{{1.stage}}",
                      "b": "Delete",
                      "o": "text:equal"
                    }
                  ]
                ]
              },
              "mapper": {
                "select": "Manual",
                "item_id": "{{1.cmsid}}",
                "collection_id": "656df9866efdc7c99b1e65ce"
              },
              "metadata": {
                "designer": {
                  "x": 463,
                  "y": 375
                },
                "restore": {
                  "expect": {
                    "select": {
                      "label": "Manual"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "webflow2"
                      },
                      "label": "Productized Service Template (julian@memberstack.com)"
                    }
                  }
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:webflow2",
                    "label": "Connection",
                    "required": true
                  }
                ],
                "expect": [
                  {
                    "name": "select",
                    "type": "select",
                    "label": "Enter Item ID",
                    "required": true,
                    "validate": {
                      "enum": ["inputRpc", "Manual"]
                    }
                  },
                  {
                    "name": "collection_id",
                    "type": "text",
                    "label": "Collection ID",
                    "required": true
                  },
                  {
                    "name": "item_id",
                    "type": "text",
                    "label": "Item ID",
                    "required": true
                  }
                ]
              }
            },
            {
              "id": 9,
              "module": "webflow:publishSite",
              "version": 2,
              "parameters": {
                "__IMTCONN__": 1882634
              },
              "mapper": {
                "site_id": "656604b87d3f1c1d75e4c392",
                "publishToWebflowSubdomain": true
              },
              "metadata": {
                "designer": {
                  "x": 841,
                  "y": 375
                },
                "restore": {
                  "expect": {
                    "site_id": {
                      "mode": "chose",
                      "label": "Productized Service Template"
                    },
                    "customDomains": {
                      "mode": "chose"
                    },
                    "publishToWebflowSubdomain": {
                      "mode": "chose"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "webflow2"
                      },
                      "label": "Productized Service Template (julian@memberstack.com)"
                    }
                  }
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:webflow2",
                    "label": "Connection",
                    "required": true
                  }
                ],
                "expect": [
                  {
                    "name": "site_id",
                    "type": "select",
                    "label": "Site ID",
                    "required": true
                  },
                  {
                    "name": "publishToWebflowSubdomain",
                    "type": "boolean",
                    "label": "Publish to Webflow Subdomain"
                  },
                  {
                    "name": "customDomains",
                    "type": "select",
                    "label": "Custom Domains",
                    "multiple": true
                  }
                ]
              }
            },
            {
              "id": 10,
              "module": "util:FunctionSleep",
              "version": 1,
              "parameters": {},
              "mapper": {
                "duration": "1"
              },
              "metadata": {
                "designer": {
                  "x": 1160,
                  "y": 375
                },
                "restore": {},
                "expect": [
                  {
                    "name": "duration",
                    "type": "uinteger",
                    "label": "Delay",
                    "required": true,
                    "validate": {
                      "max": 300,
                      "min": 1
                    }
                  }
                ]
              }
            },
            {
              "id": 8,
              "module": "gateway:WebhookRespond",
              "version": 1,
              "parameters": {},
              "mapper": {
                "body": "",
                "status": "302",
                "headers": [
                  {
                    "key": "Location",
                    "value": "https://productized-service-template.webflow.io/gated/admin/dashboard"
                  }
                ]
              },
              "metadata": {
                "designer": {
                  "x": 1530,
                  "y": 375
                },
                "restore": {
                  "expect": {
                    "headers": {
                      "mode": "chose",
                      "items": [null]
                    }
                  }
                },
                "expect": [
                  {
                    "name": "status",
                    "type": "uinteger",
                    "label": "Status",
                    "required": true,
                    "validate": {
                      "min": 100
                    }
                  },
                  {
                    "name": "body",
                    "type": "any",
                    "label": "Body"
                  },
                  {
                    "name": "headers",
                    "spec": [
                      {
                        "name": "key",
                        "type": "text",
                        "label": "Key",
                        "required": true,
                        "validate": {
                          "max": 256
                        }
                      },
                      {
                        "name": "value",
                        "type": "text",
                        "label": "Value",
                        "required": true,
                        "validate": {
                          "max": 4096
                        }
                      }
                    ],
                    "type": "array",
                    "label": "Custom headers",
                    "validate": {
                      "maxItems": 16
                    }
                  }
                ],
                "advanced": true
              }
            }
          ]
        }
      ]
    }
  ],
  "metadata": {
    "instant": true,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "slots": null,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "us1.make.com"
  }
}
